<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div>
        <h1>Welcome to home page</h1>
        <ul>
            <li><a href="http://localhost:3000/name">Name</a></li>
            <li><a href="http://localhost:3000/admin">Admin</a></li>
            <li><a href="http://localhost:3000/user/100">UserID</a></li>
            <li><a href="http://localhost:3000/valueofday/1980-01-24">Date</a></li>
        </ul>
        
    </div>
</body>
</html>